footer {
  margin-top: 100px;
  background-color: #fbbb00;
  padding: 100px;
  border-radius: 80px;
  position: relative;

  display: flex;
  gap: 100px;
  height: 750px;
}

footer .left_site_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .top_footer {
  display: flex;
  flex-direction: column;
}

footer .top_footer .social {
  margin-top: 24px;
  display: flex;
  align-items: center;

  gap: 8px;
}

footer .top_footer .social .box_social {
  width: 48px;
  height: 48px;
  border-radius: 32px;
  border: 1px solid #1c1c1c99;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer .top_footer .social .box_social:hover {
  background-color: black;
}

footer .top_footer .contact_info {
  margin-top: 34px;
}

footer .top_footer .contact_info > div {
  display: flex;
}

footer .maker {
  margin-top: 68px;
}

footer .maker a {
  font-size: 22px;
  font-weight: 400;
  font-family: var(--global-font);
}

footer .top_navigate nav {
  display: flex;
  gap: 28px;
}

footer .top_navigate nav a {
  font-family: var(--global-font);

  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: black;
  line-height: 21.6px;
}

footer .under_navigate {
  display: flex;
  /* justify-content: space-between; */
  gap: 44px;
  margin-top: 40px;
}

footer .under_navigate .licences {
  max-width: 200px;
  height: 234px;
  padding: 12px 0px 12px 0px;
  gap: 16px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
}

footer .under_navigate .licences h1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  margin-bottom: 10px;
}

footer .under_navigate .licences p {
  width: 100%;
  /* height: 172px; */
  gap: 8px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.6px;
  text-align: left;
  color: var(--black-50, #1c1c1c80);
}

footer .under_navigate .licences p:hover {
  color: black;
  cursor: pointer;
}

footer .under_navigate .model {
  max-width: 200px;
  height: 204px;
  padding: 12px 0px 12px 0px;
  gap: 16px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
}

footer .under_navigate .model h1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  margin-bottom: 10px;
}

footer .under_navigate .model p {
  width: 100%;
  /* height: 172px; */
  gap: 8px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: var(--black-50, #1c1c1c80);
}

footer .under_navigate .model p:hover {
  color: black;
  cursor: pointer;
}

footer .under_navigate .instalation {
  width: 169px;
  /* height: 204px; */
  padding: 12px 0px 12px 0px;
  gap: 16px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
}

footer .under_navigate .instalation h1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  margin-bottom: 10px;
}

footer .under_navigate .fresh {
  /* width: 249px; */
  /* height: 204px; */
  padding: 12px 0px 12px 0px;
  gap: 16px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
}

footer .under_navigate .fresh h1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
}

footer .down_navigate {
  display: flex;
  gap: 50px;
}

footer .down_navigate .server {
  width: 230px;
  height: 144px;
  padding: 12px 0px 12px 0px;
  gap: 16px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
}
footer .down_navigate .server h1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
}

footer .down_navigate .server p {
  /* width: 180px; */
  /* height:172px; */
  gap: 8px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: var(--black-50, #1c1c1c80);
}

footer .down_navigate .server p:hover {
  color: black;
  cursor: pointer;
}

footer .down_navigate .economic {
  width: 230px;
  height: 144px;
  padding: 12px 0px 12px 0px;
  gap: 16px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
}

footer .down_navigate .economic h1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
}

footer .down_navigate .economic p {
  width: 180px;
  /* height: 172px; */
  gap: 8px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: var(--black-50, #1c1c1c80);
}

footer .down_navigate .economic p:hover {
  color: black;
  cursor: pointer;
}

footer .down_navigate .ilustration_footer {
  position: absolute;
  right: -100px;
  bottom: -100px;
}

footer .down_navigate .ilustration_footer img {
  width: 100%;
  height: 100%;
}
