.card_company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.card_container {
  border: 1px solid #fbbb00;
  border-radius: 40px;
  padding: 32px 36px;
  text-align: center;
}

.card_container h1 {
  font-size: clamp(
    18px,
    2vw + 1rem,
    24px
  ); /* Минимум 18px, максимум 24px, с адаптивностью от экрана */
  line-height: 1.3;
  font-weight: 600;
}

.card_container p {
  font-size: clamp(
    16px,
    1.5vw + 0.5rem,
    20px
  ); /* Минимум 16px, максимум 20px */
  line-height: 1.4;
  color: #1c1c1ce5;
  font-weight: 300;
  font-family: var(--global-font);
}

/* Programm section scss */

.programms {
  margin-top: 100px;
}

.title_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_section .title_c h1 {
  font-size: clamp(24px, 4vw, 32px);
  line-height: clamp(26px, 4.4vw, 35.2px);
  font-weight: 700;
}

.adress_all_progress {
  display: flex;
  gap: 12px;
  border: 1px solid gray;
  padding: 14px 20px;
  border-radius: 32px;
  text-decoration: none;
  color: #1c1c1c;
}

.adress_all_progress span {
  font-weight: 500;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.card {
  max-width: 336px;
  width: 100%;

  position: relative;

  background-color: #fbbb00cc;
  border-radius: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fbbc00ee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0 0 60px 0;
}

.card_icon {
  margin-bottom: 15px;
  position: relative;
  top: -40px;
}

.card:hover > .card_icon {
  transform: translateY(-35px);
}

.card_text {
  font-size: clamp(14px, 2.5vw, 18px);
  font-weight: bold;
  color: #000;
  text-align: center;
}

.button_all_program {
  background-color: #1c1c1c;
  max-width: 172px;
  width: 100%;

  border-radius: 32px;
  border: 1px solid #fbbb00;
  background-color: #000;
  color: #fbbb00;
  padding: 14px 24px;
}

.button_all_program a {
  text-decoration: none;
  color: #fbbb00;
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 500;
}

/* Partnersheep */

.partnership {
  margin-top: 100px;
}

.title_partnership h1 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 700;
  text-align: start;
}

.partnership_cards {
  margin-top: 40px;
  padding: 60px 100px;
  border: 1px solid #fbbb00;
  border-radius: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p_card > img {
  max-width: 228px;
  height: 100px;
}

.application {
  width: 100%;
  margin-top: 20px;
  background-color: #fbbb00;
  border-radius: 80px;
  border: 2px solid #b48700;
  padding: 100px;

  display: flex;
  align-items: center;
  gap: 40px;
}

.left_site_application {
  width: 700px;
}

.left_site_application .title h1 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 700;
}

.left_site_application .suptitle {
  margin-top: 17px;
}

.left_site_application .suptitle p {
  color: #1c1c1ce5;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
}

.correct {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.correct p {
  font-size: 16px;
  line-height: 21.6px;
  font-weight: 300;
}

.right_site_application {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right_site_application .top p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.right_site_application .top input {
  width: 500px;
  margin-top: 8px;
  background-color: #1c1c1c10;
  padding: 10px 16px;
  border: 1px solid #1c1c1c66;
  border-radius: 32px;
}

.right_site_application .top input::placeholder {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #1c1c1c99;
}

.right_site_application .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.right_site_application .middle input {
  width: 230px;
  margin-top: 8px;
  padding: 10px 16px;
  border: 1px solid #1c1c1c66;
  border-radius: 32px;
  background-color: #1c1c1c10;
}

.right_site_application .middle input::placeholder {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #1c1c1c99;
}

.button_request {
  width: 230px;
  padding: 16px 24px;
  background-color: #1c1c1c;
  color: #fbbb00;
  font-family: var(--global-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 32px;
  align-self: self-end;
  border: none;
  cursor: pointer;

  display: flex;
  gap: 15px;
  align-items: center;
}

/* Contact */

.contact {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact_card {
  padding: 52.5px 80px;
  border: 1px solid #fbbb00;
  border-radius: 80px;
}

.contact_card h1 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 700;
  margin-bottom: 12px;
}

.contact_card p {
  width: 540px;
  font-size: 20px;
  line-height: 27px;
  color: #1c1c1ce5;
}

.contact_card .contact_info {
  margin-top: 36px;
}

.contact_card .date {
  display: flex;
  gap: 8px;
  align-items: center;
}

.map_card > iframe {
  border-radius: 80px;
  height: 408px;
  width: 680px;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .container_inner {
    padding: 0 20px;
  }

  main {
    padding: 40px 60px;
    height: auto;
  }

  header .navigation-menu nav {
    gap: 12px;
  }

  main .left_main_site .title h1 {
    font-size: 48px;
    line-height: 56px;
    width: 100%;
  }

  main .button_main {
    max-width: 180px;
  }

  .cards {
    flex-direction: column;
  }

  .faq-container {
    margin: 20px auto 0;
    padding: 50px;
    background-color: #fff;
    border-radius: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffd45d;
    text-align: center;
  }

  .card {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .right_site_application .top input,
  .right_site_application .middle input {
    width: 100%;
  }

  .contact {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer {
    flex-direction: column;
    padding: 60px;
    gap: 50px;
  }

  footer .top_footer,
  footer .under_navigate {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  header .navigation-menu nav {
    flex-direction: column;
    gap: 10px;
  }

  .widgets {
    flex-direction: column;
    gap: 10px;
  }

  .widgets .catalog button {
    display: none;
  }

  main {
    padding: 30px;
    height: auto;
  }

  main .left_main_site .title h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .card_company {
    flex-wrap: wrap;
  }

  .card_container {
    padding: 20px;
  }

  .partnership_cards {
    gap: 40px;
    flex-wrap: wrap;
  }

  .left_site_application {
    max-width: 400px;
    width: 100%;
  }

  .left_site_application .title h1 {
    font-size: 18px;
    line-height: 23.2px;
    font-weight: 700;
  }

  .left_site_application .suptitle p {
    color: #1c1c1ce5;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
  }

  .correct p {
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 300;
  }

  .partnership_cards {
    flex-direction: column;
    gap: 55px;
    padding: 20px;
  }

  .contact_card p {
    width: 434px;
    font-size: 20px;
    line-height: 27px;
    color: #1c1c1ce5;
  }

  .button_request {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 32px;
  }

  .application {
    flex-direction: column;
    padding: 40px;
  }

  .contact_card {
    padding: 52.5px 80px;
    border: 1px solid var(--basic-color);
    border-radius: 40px;
  }

  .faq_container {
    padding: 20px;
    border-radius: 40px;
  }

  .faq_question p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20.1px;
  }

  .faq_answer {
    display: none;
    padding-top: 8px;
    font-size: 12px;
    color: #555;
    text-align: left;
  }

  .contact_card h1 {
    font-size: 30px;
    line-height: 31.2px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .contact_card p {
    width: 434px;
    font-size: 14px;
    line-height: 19px;
    color: #1c1c1ce5;
  }

  footer {
    flex-direction: column;
    padding: 40px;
    /* height: fit-content; */
    gap: 30px;
  }

  footer .top_footer,
  footer .under_navigate,
  footer .down_navigate {
    flex-direction: column;
    gap: 20px;
  }

  footer .down_navigate {
    flex-direction: column;
    gap: 20px;
  }
}

/* Для устройств с шириной экрана до 480px */
@media (max-width: 480px) {
  header {
    margin-top: 20px;
  }

  main {
    padding: 20px;
  }

  .card_container main .left_main_site .title h1 {
    font-size: 28px;
    line-height: 32px;
  }

  .application {
    border-radius: 20px;
    border: 2px solid #b48700;
    padding: 20px;

    display: flex;
    align-items: center;
    gap: 40px;
  }

  .card {
    max-width: 100%;
    border-radius: 20px;
    padding: 0 0 20px 0;
  }

  .button_main {
    max-width: 100%;
    text-align: center;
  }

  .contact_card {
    padding: 20px;
  }

  .contact_card p {
    width: 100%;
  }

  .faq_container {
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border: 2px solid #f4b400;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .faq_question p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20.1px;
  }

  .faq_answer {
    display: none;
    padding-top: 8px;
    font-size: 12px;
    color: #555;
    text-align: left;
  }

  .map_card > iframe {
    border-radius: 40px;
  }

  footer {
    padding: 20px;
    gap: 20px;
  }

  footer .top_footer,
  footer .under_navigate,
  footer .down_navigate {
    flex-direction: column;
    gap: 20px;
  }
}
